
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="~/Employee/Add" method="post">
    <label>EmpName</label>
    <input type="text" name="EmpName" /><br />
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" /><br />
    <input type="submit"  class="btn btn-success"/>
</form>